.sp-tag:hover{
  cursor: pointer;
}
.sp-tag{
  color: blue;
}
.p-yag:hover{
  cursor: pointer;
}
img{
  width: 300px;
  height: 300px;
}
.content{
  margin-left: 200px;
}
.loader{
  margin-left: 750px;
  margin-top: 300px;
}
.title:hover{
  cursor: pointer;
}
.sp-tt:hover{
  cursor: pointer;
}