body{
  width: 100%;
  height: 100vh;
  background-color: rgb(233, 184, 184);
  background-image: linear-gradient(rgb(125, 125, 225),rgb(224, 162, 137));
}
.sp-tag:hover{
  cursor: pointer;
}
.sp-tag{
  color: rgb(20, 20, 235);
}
.Create{
  color: rgb(24, 24, 235);
}
.p-yag:hover{
  cursor: pointer;

}
img{
  width: 300px;
  height: 300px;
}
.content{
  margin-left: 200px;
}
.loader{
  margin-left: 750px;
  margin-top: 300px;
}
.title:hover{
  cursor: pointer;
}
.sp-tt:hover{
  cursor: pointer;
}
.send-btn:hover{
  cursor: pointer;
}
.inp{
  width: 30%;
  background-image: linear-gradient(rgb(82, 82, 238),rgb(77, 195, 214));
  padding: 20px;
  border-radius: .4em;
  box-shadow: 4px 4px 4px rgb(74, 70, 70);
}
input{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  animation: running 1ms ease-in-out 0 ;
}

button{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

button:hover{
  cursor: pointer;
  background-color: blue;
  color: white;
}
.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
}